*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #152238;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}
